.ADG-app .d-header{
  grid-template-columns: repeat(8, 1fr);
  padding-left: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.ADG-app .d-card{
  grid-template-columns: repeat(8, 1fr);
  padding-left: 3vw;
  align-items: center;
  /* margin-top: 2vw; */
}
.ADG-app .scrollable-container{
  margin-top: 25vw;
}
.AO-app .t-box{
  width:20vw;
}
@media (max-width:900px) {
  .AO-app .t-box{
    width:95%;
  }
  .AO-app .ADD-p-position{
    margin-top: 35vh;
  }
  .AO-app .ADD-p-container{
    background-color: transparent;
  }
}