.CAT-app .d-header{
  grid-template-columns: repeat(6, 1fr);
  padding-left: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.CAT-app .d-card{
  grid-template-columns: repeat(6, 1fr);
  padding-left: 3vw;
  align-items: center;
  /* margin-top: 2vw; */
}
.CAT-app .scrollable-container{
  margin-top: 25vw;
}
.CAT-app .t-box{
  width: 20vw;
  
}
.CAT-app .addCat{
  display: block;
}
.CAT-app .addCat .main-modal-content{
  margin: 8vw auto;
  width: 40vw;
  height: 30vw;
}
.CAT-app .addCat .main-modal-content-inside{

  height: 26vw;
}
@media (max-width:900px) {
  .CAT-app .t-box{
    width: 95%;
    padding: 4vw;
    
  }
  .CAT-app .addCat .main-modal-content{
    margin: 8vw auto;
    width: 85%;
    height: 65vh;
  }
  .CAT-app .p-main-modal-content-inside .t-box{
    width: 85%;
  }
  .CAT-app .ADD-p-position{
    margin-top: 35vh;
  }
  .CAT-app .ADD-p-container{
    background-color: transparent;
  }
}