.ITM-create .ITM-desktop{
  margin-top: 10vw;
  background-color: transparent;
  padding: 2vw;
  position: fixed;
  top: 0;
  right: 0;
  width: 83vw;
  z-index: 1;
  margin-bottom: 2vw;
  display: flex;
  gap:2vw;
}
.ITM-create .ITM-left{
background-color: white;
padding: 1vw;
width: 50%;
border-radius: 1vw;
height: 68vh;
overflow-y: scroll;
}
.ITM-left::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.ITM-left::-webkit-scrollbar-track {
  background: #e2dddd;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.ITM-left::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
.ITM-create .ITM-right{
  background-color: white;
  padding: 1vw;
  width: 50%;
  border-radius: 1vw;
  height: 68vh;
overflow-y: scroll;
}
.ITM-right::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.ITM-right::-webkit-scrollbar-track {
  background: #e2dddd;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.ITM-right::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
.ITM-create .ITM-left .main-modal .main-modal-content{
  width: 15%;
  height: 20%;
  margin-top: 33vw;
  margin-left: 24vw;
  box-shadow: 5px 10px 8px 5px rgba(0,0,0,0.1);
  border: none;
}
.ITM-create .ITM-left .main-modal {
  background-color: transparent;
}
.ITM-create input{
padding: 0.8vw;
border-radius: 10vw;
border: 1px solid #aeaeae;
width: 35vw;
outline-color: #8d4ac2;
}
.ITM-create .ITM-select-tags{
  width: 2vw;
}
.ITM-create select{
padding: 0.8vw;
border-radius: 10vw;
border: 1px solid #aeaeae;
width: 18vw;
color: #8d8b8b;
outline-color: #8d4ac2;
}
.ITM-create textarea{
  font-family: "Inter", Helvetica;
  border-radius: 0.5vw;
  width: 94%;
  height: 10vh;
  outline-color: #8d4ac2;
  border: 1px solid #aeaeae;
  resize: none;
}
.ITM-create .ITM-phone{
display: none;
}

@media (max-width:900px) {
.ITM-create .ITM-desktop{
    display: none;
}
.ITM-left{
    display: none;
}
.ITM-right{
    display: none;
}
.ITM-create .ITM-phone{
    display: block;
}
.ITM-phone .ADD-p-position{
  margin-top: 32vh;
}
.ITM-phone .ADD-p-container .main-modal .main-modal-content{
  background-color: white;
  position: fixed;
  bottom: -7vw;
  padding: 3vw 4vw;
  border: 1px solid #888;
  width: 92%;
  height: 40%;
  border-radius: 0vw;
}
.ITM-phone .ADD-p-container .main-modal .main-modal-content .p-main-modal-content-inside{
  height: 35vh;
}
.ITM-create .ITM-select-tags{
  width: 5vw;
}

}