.AO-create .AO-desktop{
      margin-top: 10vw;
      background-color: transparent;
      padding: 2vw;
      position: fixed;
      top: 0;
      right: 0;
      width: 83vw;
      z-index: 1;
      margin-bottom: 2vw;
      display: flex;
      gap:2vw;
}
.AO-create .AO-left{
    background-color: white;
    padding: 2vw;
    width: 50%;
    border-radius: 1vw;
}
.AO-create .AO-right{
    background-color: white;
    padding: 2vw;
    width: 50%;
    border-radius: 1vw;
}
.AO-create input{
    padding: 1vw;
    border-radius: 10vw;
    border: 1px solid #aeaeae;
    width: 36vw;
    outline-color: #8d4ac2;
}
.AO-create select{
    padding: 1vw;
    border-radius: 10vw;
    border: 1px solid #aeaeae;
    width: 18vw;
    color: #8d8b8b;
    outline-color: #8d4ac2;
}
.AO-create .AO-phone{
    display: none;
}

@media (max-width:900px) {
    .AO-create .AO-desktop{
        display: none;
    }
    .AO-left{
        display: none;
    }
    .AO-right{
        display: none;
    }
    .AO-create .AO-phone{
        display: block;
    }
    
}