.AOG-create .AOG-desktop{
    margin-top: 10vw;
    background-color: transparent;
    padding: 2vw;
    position: fixed;
    top: 0;
    right: 0;
    width: 83vw;
    z-index: 1;
    margin-bottom: 2vw;
    display: flex;
    gap:2vw;
}
.AOG-create .AOG-left{
  background-color: white;
  padding: 2vw;
  width: 50%;
  border-radius: 1vw;
}
.AOG-create .AOG-right{
  background-color: white;
  padding: 2vw;
  width: 50%;
  border-radius: 1vw;
}
.AOG-create input{
  padding: 1vw;
  border-radius: 10vw;
  border: 1px solid #aeaeae;
  width: 36vw;
  outline-color: #8d4ac2;
}
.AOG-create select{
  padding: 1vw;
  border-radius: 10vw;
  border: 1px solid #aeaeae;
  width: 18vw;
  color: #8d8b8b;
  outline-color: #8d4ac2;
}
.AOG-create .AOG-phone{
  display: none;
}

@media (max-width:900px) {
  .AOG-create .AOG-desktop{
      display: none;
  }
  .AOG-left{
      display: none;
  }
  .AOG-right{
      display: none;
  }
  .AOG-create .AOG-phone{
      display: block;
  }
  
}