.body{
  background-color: #ffffff;
}
.box-create-item{
  background-color: #ffffff;
}
.box-create-item .group {
  background-color: #ffffff;
  height: 1000px;
  left:178px;
  position: relative;
  /* top: 100px; */
  width: 1300px;
  right: 174px;
  margin-top: 0px;
}

.box-create-item .frame {
  align-items: flex-end;
    display: inline-flex;
    gap: 10px;
    left: 0px;
    position: absolute;
    top: 0px;
}

.box-create-item .overlap-wrapper {
  height: 37px;
  position: relative;
  width: 138px;
}

.box-create-item .overlap {
  height: 37px;
  position: relative;
  width: 140px;
}

.box-create-item .vector {
  height: 7px;
  left: 114px;
  position: absolute;
  top: 16px;
  width: 11px;
}

.box-create-item .img {
  height: 12px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 11px;
}

.box-create-item .location {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 140px;
}

.box-create-item .overlap-group {
  border: 1px solid;
  border-color: #aeaeae;
  border-radius: 30px;
  height: 37px;
  position: relative;
  width: 138px;
}

.box-create-item .text-wrapper {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.box-create-item .carbon-close-filled {
  height: 15px;
  left: 106px;
  position: absolute;
  top: 10px;
  width: 15px;
}

.box-create-item .div-wrapper {
  border: 1px solid;
  border-color: #aeaeae;
  border-radius: 20px;
  height: 37px;
  position: relative;
  width: 138px;
}

.box-create-item .div {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.box-create-item .brand-filter {
  height: 37px;
  position: relative;
  width: 145px;
}

.box-create-item .overlap-2 {
  height: 37px;
  position: relative;
  width: 147px;
}

.box-create-item .carbon-close-filled-2 {
  height: 15px;
  left: 113px;
  position: absolute;
  top: 10px;
  width: 15px;
}

.box-create-item .overlap-group-wrapper {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  width: 147px;
}

.box-create-item .overlap-group-2 {
  border: 1px solid;
  border-color: #aeaeae;
  border-radius: 20px;
  height: 37px;
  position: relative;
  width: 145px;
}

.box-create-item .text-wrapper-2 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.box-create-item .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 75px;
  white-space: nowrap;
}

.box-create-item .h-1 {
  color: #00000099;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 765px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  bottom: 570px;
}
.box-create-item .items-right{
  height: 749px;
  left: 12px;
  position: absolute;
  top: -200px;
  margin-top: 320px;
  width: 1300px;
}
.box-create-item .add-items-header {
  color: #00000099;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
 bottom: 60px;
}


.box-create-item .line {
  height: 959px;
  left: 718px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 1px;
}

.box-create-item .input {
  height: 749px;
  left: 12px;
  position: absolute;
  top: 190px;
  width: 674px;
}

.box-create-item .title-group {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 672px;
}

.box-create-item .title-textbox {
  height: 33px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 672px;
}

.box-create-item .overlap-group-3 {
  margin-top: 20px;;

}

.box-create-item .text-wrapper-4 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 90px;
}

.box-create-item .text-wrapper-5 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.box-create-item .cat-group {
  height: 54px;
  left: 0;
  position: absolute;
  top: 76px;
  width: 320px;
}

.box-create-item .div-2 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 324px;
}

.box-create-item .overlap-group-4 {

  height: 33px;
  position: relative;
  width: 320px;
  top: -57px;
  left: 0px;
}
.box-create-item .overlap-group-markup {

  height: 33px;
  position: relative;
  width: 320px;
  top: 20px;
  left: 10px;
}

.box-create-item .mingcute-down-line {
  height: 24px;
  left: 280px;
  position: absolute;
  top: 3px;
  width: 24px;
}

.box-create-item .text-wrapper-6 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.box-create-item .posid-group {
  height: 54px;
  left: 0;
  position: absolute;
  top: 401px;
  width: 320px;
}

.box-create-item .text-wrapper-7 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.box-create-item .text-wrapper-8 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.box-create-item .fullfillment-group {
  height: 54px;
  left: 0;
  position: absolute;
  top: 474px;
  width: 320px;
}

.box-create-item .cat-textbox {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.box-create-item .text-wrapper-9 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.box-create-item .mingcute-down-line-2 {
  height: 24px;
  left: 281px;
  position: absolute;
  top: 5px;
  width: 24px;
}

.box-create-item .item-group {
  height: 54px;
  left: 0;
  position: absolute;
  top: 549px;
  width: 320px;
}

.box-create-item .mingcute-down-line-3 {
  height: 24px;
  left: 280px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.box-create-item .text-wrapper-10 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
.box-create-item .text-wrapper-image{
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -75px;
}

.box-create-item .weight-group {
  height: 54px;
  left: 0;
  position: absolute;
  top: 622px;
  width: 320px;
}

.box-create-item .overlap-3 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 700px;
  width: 320px;
}

.box-create-item .serves-group {
  height: 53px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 320px;
}
.top-up{
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -15px;
}
.box-create-item .cat-textbox-2 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 318px;
}

.box-create-item .text-wrapper-11 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
}

.box-create-item .tags-group {
  height: 54px;
  left: 352px;
  position: absolute;
  top: 400px;
  width: 320px;
}

.box-create-item .text-wrapper-12 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.box-create-item .mingcute-down-line-4 {
  height: 24px;
  left: 282px;
  position: absolute;
  top: 5px;
  width: 24px;
}

.box-create-item .crm-group {
  height: 54px;
  left: 352px;
  position: absolute;
  top: 400px;
  width: 320px;
}

.box-create-item .sort-group {
  height: 54px;
  left: 0;
  position: absolute;
  top: 149px;
  width: 320px;
}

.box-create-item .text-wrapper-13 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.box-create-item .default-sales-price {
  height: 54px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 320px;
}

.box-create-item .text-wrapper-14 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.box-create-item .sales-price-textbox-create-item {
  height: 33px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 48px;
}

.box-create-item .mdi-rupee {
  height: 15px;
  left: 9px;
  position: absolute;
  top: 8px;
  width: 15px;
}

.box-create-item .markup-group {
  height: 54px;
  left: 343px;
  position: absolute;
  top: 222px;
  width: 329px;
}

.box-create-item .text-wrapper-15 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 155px;
}

.box-create-item .sales-price-textbox-create-item-2 {
  height: 33px;
  left: 9px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.box-create-item .cat-group-2 {
  height: 54px;
  left: 352px;
  position: absolute;
  top: 76px;
  width: 320px;
}

.box-create-item .mingcute-down-line-5 {
  height: 24px;
  left: 281px;
  position: absolute;
  top: 3px;
  width: 24px;
}

.box-create-item .desc-group {
  height: 85px;
  left: 0;
  position: absolute;
  top: 297px;
  width: 672px;
}

.box-create-item .rectangle {

  height: 66px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 670px;
  border-radius: 10px;
  outline: none;

  border: 2px solid #aeaeae;
;
}


.box-create-item .text-wrapper-16 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 67px;
}

.box-create-item .is-recommended {

  left: 352px;
  position: absolute;
  top: 148px;
  width: 101px;
}

.box-create-item .radio-button {

 
  left: 0;
  position: absolute;
  top: 25px;
  width: 72px;
}

.box-create-item .ellipse {
  background-color: #ffffff;
  border-radius: 12.5px;
  height: 25px;
  left: 40px;
  position: relative;
  top: 4px;
  width: 25px;
}

.box-create-item .pre-order-group {
  height: 54px;
  left: 350px;
  position: absolute;
  top: 550px;
  width: 104px;
}

.box-create-item .ellipse-wrapper {

  height: 33px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 72px;
}

.box-create-item .ellipse-2 {
  background-color: #ffffff;
  border-radius: 12.5px;
  height: 25px;
  left: 5px;
  position: relative;
  top: 4px;
  width: 25px;
}

.box-create-item .cat-textbox-3 {
  height: 33px;
  left: 310px;
  position: absolute;
  top: 530px;
  width: 38px;
}

.box-create-item .text-wrapper-17 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 352px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 550px;
}

.box-create-item .text-wrapper-18 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 765px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 198px;
}

.box-create-item .text-wrapper-19 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 936px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 197px;
}

.box-create-item .text-wrapper-20 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 766px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 220px;
}

.box-create-item .text-wrapper-21 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 937px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 220px;
}

.box-create-item .text-wrapper-22 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 765px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 284px;
}

.box-create-item .text-wrapper-23 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 936px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 284px;
}

.box-create-item .text-wrapper-24 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 1102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 284px;
}

.box-create-item .nonveg-icon {
  background-size: 100% 100%;
  height: 22px;
  left: 766px;
  position: absolute;
  top: 288px;
  width: 22px;
}

.box-create-item .ellipse-3 {
  background-color: #ec6a6acc;
  border-radius: 5px;
  height: 10px;
  left: 6px;
  position: relative;
  top: 6px;
  width: 10px;
}

.box-create-item .text-wrapper-25 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 939px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 305px;
}

.box-create-item .text-wrapper-26 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 305px;
}

.box-create-item .text-wrapper-27 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 766px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 379px;
}

.box-create-item .text-wrapper-28 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 936px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 379px;
}

.box-create-item .text-wrapper-29 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 767px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 403px;
}

.box-create-item .text-wrapper-30 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 936px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 403px;
}

.box-create-item .text-wrapper-31 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 766px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 456px;
}

.box-create-item .text-wrapper-32 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 766px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 570px;
}

.box-create-item .p {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 766px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 481px;
  width: 480px;
}

.box-create-item .text-wrapper-33 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 938px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 594px;
}

.box-create-item .text-wrapper-34 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 938px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 570px;
}

.box-create-item .text-wrapper-35 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 1102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 570px;
}

.box-create-item .text-wrapper-36 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 767px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 594px;
}

.box-create-item .text-wrapper-37 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 766px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 648px;
}

.box-create-item .text-wrapper-38 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 767px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 738px;
}

.box-create-item .new {
  height: 24px;
  left: 766px;
  position: absolute;
  top: 679px;
  width: 62px;
}

.box-create-item .overlap-4 {
  border: 0.5px solid;
  border-color: #aeaeaeee;
  border-radius: 5px;
  height: 24px;
  position: relative;
  width: 60px;
}

.box-create-item .text-wrapper-39 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 18px;
  letter-spacing: -0.5px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 22px;
}

.box-create-item .spicy {
  height: 24px;
  left: 840px;
  position: absolute;
  top: 680px;
  width: 62px;
}

.box-create-item .overlap-5 {
  border: 0.5px solid;
  border-color: #aeaeae;
  border-radius: 5px;
  height: 24px;
  position: relative;
  width: 60px;
}

.box-create-item .text-wrapper-40 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 16px;
  letter-spacing: -0.5px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 28px;
}

.box-create-item .must-try {
  height: 24px;
  left: 907px;
  position: absolute;
  top: 680px;
  width: 62px;
}

.box-create-item .text-wrapper-41 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 8px;
  letter-spacing: -0.5px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 41px;
}

.box-create-item .best-seller {
  height: 24px;
  left: 974px;
  position: absolute;
  top: 680px;
  width: 62px;
}

.box-create-item .text-wrapper-42 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 4px;
  letter-spacing: -0.5px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: 51px;
}

.box-create-item .text-wrapper-43 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 938px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 738px;
}

.box-create-item .text-wrapper-44 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 765px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 819px;
}

.box-create-item .text-wrapper-45 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 1102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 738px;
}

.box-create-item .text-wrapper-46 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 760px;
}

.box-create-item .text-wrapper-47 {
  color: #aeaeae;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 938px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 819px;
}

.box-create-item .text-wrapper-48 {
  color: #2e2e2e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 938px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 841px;
}

.box-create-item .add-item {
  height: 42px;
  left: 10px;
  position: absolute;
  top: 970px;
  width: 216px;
}

.box-create-item .overlap-6 {
  background-color: #ffcda082;
  border-radius: 20px;
  height: 42px;
  position: relative;
  width: 214px;
}

.box-create-item .text-wrapper-49 {
  color: #df9f65;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.box-create-item .ellipse-4 {
  
  height: 15px;
  left: 1135px;
  position: absolute;
  top: 288px;
  width: 15px;
}

.box-create-item .ellipse-5 {
  height: 15px;
  left: 1129px;
  position: absolute;
  top: 743px;
  width: 15px;
}

/* tags */
/* Styling for the container of the entire TagDropdown */
.tag-dropdown-container {
  margin: 20px;
  }
  
  /* Styling for the "Tags" button */
  .tag-menu-button {
    font-family: "Inter", Helvetica;
  font-size: 0.875rem;
  font-weight: 600;
 border: 2px solid #aeaeae;

  border-radius: 30px;
  padding: 7px 1px; /* Adjust padding for better visual balance */
  line-height: 1.5;
  width: 135px;
  background: #fff;
  color: #aeaeae;
  margin-left:20px;
  margin-top:20px;
  
  }
  
  /* Styling for the container of selected tags */
  .selected-tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:10px;
    margin-left: 13px;
    
  }
  

.tag-row{
  display:flex;
}

  /* Styling for each selected tag */
  .selected-tag {
    display: flex;
    width: 120px;
    padding: 5px 2px;
    margin: 8px;
    border: 1px solid #aeaeae;
    border-radius: 30px;
    align-items: center;
  }
  
  /* Styling for the label of each tag */
  .tag-label {
    font-family: "Inter", Helvetica; 
    flex: 1;
    padding-left: 10px;
    width:100px;
    font-size: 12px;
  }
  
  /* Styling for the remove tag button */
  .remove-tag-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    transition: color 0.3s;
  }
  
  /* Remove the checkbox dot */
  .selected-tag .MuiCheckbox-root::before {
  display:block;
  }
  
  
 .CI-add-multi-item {
    height: 30px;
  width: 350px;
  position: absolute;
  top: 190px;
left: 200px;  
z-index: 4;
  
  }
  .CI-add-multi-item .add-items-filter-buttons-container {
    display: flex;
    gap: 10px; /* Adjust the gap value to your desired spacing */
  }

  @media (max-width: 768px) {
    .IS-menu-page .CI-add-multi-item {
      top: 90px; /* Adjust the top property for smaller screens */
      right: 10px; /* Adjust the right property for smaller screens */
    }
  }
  