body{
  background-color: #FAF9F5;
}
.menu-page {
    background-color: #faf9f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .menu-page .div {
    background-color: #faf9f5;
    border: 1px none;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .menu-page .frame {
    align-items: flex-end;
    display: inline-flex;
    gap: 10px;
    left: 0px;
    position: absolute;
    top: 130px;
  }
  
  .menu-page .overlap-wrapper {
    height: 37px;
    position: relative;
    width: 138px;
  }
  
  .menu-page .overlap {
    height: 37px;
    position: relative;
    width: 140px;
  }
  
  .menu-page .vector {
    height: 7px;
    left: 114px;
    position: absolute;
    top: 16px;
    width: 11px;
  }
  
  .menu-page .img {
    height: 12px;
    left: 12px;
    position: absolute;
    top: 13px;
    width: 11px;
  }
  
  .menu-page .location {
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 140px;
  }
  
  .menu-page .overlap-group {
    border: 1px solid;
    border-color: #aeaeae;
    border-radius: 30px;
    height: 37px;
    position: relative;
    width: '200px';
  }
  
  .menu-page .text-wrapper {
    color: #2e2e2e;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
  }
  
  .menu-page .carbon-close-filled {
    height: 15px;
    left: 106px;
    position: absolute;
    top: 10px;
    width: 15px;
  }
  
  .menu-page .div-wrapper {
    border: 1px solid;
    border-color: #aeaeae;
    border-radius: 20px;
    height: 37px;
    position: relative;
    width: 138px;
  }
  
  .menu-page .text-wrapper-2 {
    color: #2e2e2e;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
  }
  
  .menu-page .brand-filter {
    height: 37px;
    position: relative;
    width: 145px;
  }
  
  .menu-page .overlap-2 {
    height: 37px;
    position: relative;
    width: 147px;
  }
  
  .menu-page .carbon-close-filled-2 {
    height: 15px;
    left: 113px;
    position: absolute;
    top: 10px;
    width: 15px;
  }
  
  .menu-page .overlap-group-wrapper {
    height: 100px;
    left: 0;
    position: relative;
    top: 0;
    width: 147px;
  }
  
  .menu-page .overlap-group-2 {
    border: 1px solid;
    border-color: #aeaeae;
    border-radius: 20px;
    height: 37px;
    position: relative;
    width: 145px;
  }
  
  .menu-page .text-wrapper-3 {
    color: #2e2e2e;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
  }
  
    /* Update the styles for .add-multi-item in your CSS */
.menu-page .stock-control {
  height: 30px;
  width: 95px;
  position: absolute;
  top: 260px;
  right: 500px; /* Adjust the right property to control horizontal position */
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .menu-page .stock-control {
    top: 90px; /* Adjust the top property for smaller screens */
    right: 10px; /* Adjust the right property for smaller screens */
  }
}

  /* Update the styles for .add-multi-item in your CSS */
.menu-page .add-multi-item {
  height: 30px;
  width: 95px;
  position: absolute;
  top: 260px;
  right: 645px; /* Adjust the right property to control horizontal position */
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .menu-page .add-multi-item {
    top: 90px; /* Adjust the top property for smaller screens */
    right: 10px; /* Adjust the right property for smaller screens */
  }
}

  
  .menu-page .overlap-3 {
    background-color: #9a51e0;
    border-radius: 20px;
    height: 30px;
    position: relative;
    width: 93px;
  }
  
  .menu-page .ic-baseline-plus {
    height: 20px;
    left: 69px;
    position: absolute;
    top: 5px;
    width: 20px;
  }
  
  .menu-page .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
  }
  
  /* Update the styles for .search-items in your CSS */
.menu-page .search-items {
  height: 30px;
  width: 400px;
  position: absolute;
  top: 170px;
  right: 270px; /* Adjust the right property to control horizontal position */
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .menu-page .search-items {
    top: 90px; /* Adjust the top property for smaller screens */
    right: 10px; /* Adjust the right property for smaller screens */
  }
}

  
  

  .menu-page .overlap-group-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d6d6d6;
    border-radius: 30px;
    height: 30px;
    position: absolute;
    width: 346px;
  }
  
  .menu-page .text-wrapper-5 {
    color: #9b9b9b;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 122px;
  }
  
  .menu-page .seach-icon {
    height: 14px;
    left: 15px;
    position: absolute;
    top: 8px;
    width: 14px;
  }



  
  /* Update the styles for .bulk-actions in your CSS */
.menu-page .bulk-actions {
  height: 30px;
  width: 134px;
  position: absolute;
  top: 260px;
  right: 320px; /* Adjust the right property to control horizontal position */
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .menu-page .bulk-actions {
    top: 90px; /* Adjust the top property for smaller screens */
    right: 10px; /* Adjust the right property for smaller screens */
  }
}

  

  
  .menu-page .text-wrapper-6 {
    color: #9a51e0;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
  }
  
  .menu-page .fluent-navigation {
    height: 20px;
    left: 7px;
    position: absolute;
    top: 5px;
    width: 20px;
  }
  
  .menu-page .text-wrapper-7 {
    color: #2e2e2e;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 203px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 270px;
    white-space: nowrap;
  }
  
  
  .menu-page .group {
    height: 440px;
    left: 200px;
      position: fixed;
    top: 320px;
    width: 100%;
  }

  
  .menu-page .content-group {
    height: 440px;
    left: 201px;
    position: absolute;
    top: 330px;
    width: 1305px;
  }
  
  .menu-page .text-wrapper-8 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-9 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 437px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-10 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 545px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-11 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 613px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-12 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 552px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-13 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 621px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-14 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 685px;
    letter-spacing: -0.6px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .menu-page .text-wrapper-15 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 1005px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-16 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 1099px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .menu-page .text-wrapper-17 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 1150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
 
  

  

  .item-top{
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 350px;
    padding-left: 250px;
    
  }

  

  

  




  .i-frame{
    margin-top: 30px;
    height:35%;
  }
  .i-frame .overlap-6 {
    left: 1px;
    position: relative;
    width: 1228px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    width: 94%;
    /* height:50%; */
    background-color: white;
    border-radius: 10px;
      
  }
  /* Item Image */
  .item-image{
    float: left;
    width: 3%;
  }

  /* Item name */
  .item-name-container{
    padding: 0px 16px;
    font-size: 12px;
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }
  .item-name-spacing{
    float: left;
    width: 26%;
    padding: 10px;
  }
  
  /* Item category */
  .item-cat-spacing{
    float: left;
    width: 10%;
    padding: 10px;
    text-align: center;
  }
  /* item Price */
  .item-price-spacing{
    float: left;
    width: 4%;
    padding: 10px;
  }
   /* item type */
   .item-type-spacing{
    float: left;
    width: 4%;
    padding: 4px 10px;
  }
    /* item stock */
    .item-stock-spacing{
      float: left;
      width: 4%;
      padding: 0px 10px;
    }
    /* item hide */
    .item-hide-spacing{
      float: left;
      width: 3%;
      padding: 5px 12px;
    }
    /* tags */
    .item-tag-container{
      float: left;
      width: 280px;
      
      padding: 3px 12px;
    }

    .tag-spacing{
      float: left;
      width: 22px;
      padding: 0px 50px 30px 3px;
    }
    .tag-border{
      position:absolute;
      border: 2px solid #aeaeae;
      border-radius: 5px;
      padding: 5px 5px 5px 5px;
      text-align: center;
    }   

    .tag-spacing-new{
      float: left;
      width: 0px;
      padding: 0px 40px 30px 0px;
    }
    .tag-border-new{
      position:absolute;
      border: 2px solid #aeaeae;
      border-radius: 5px;
      padding: 5px 5px 5px 5px;
      text-align: center;
    }   
    .tag-spacing-spicy{
      float: left;
      width: 0px;
      padding: 0px 50px 30px 3px;
    }
    .tag-border-spicy{
      position:absolute;
      border: 2px solid #aeaeae;
      border-radius: 5px;
      padding: 5px 5px 5px 5px;
      text-align: center;
    }   
    

    /* item availabe */
    .item-available-spacing{
      float: left;
      width: 7%;
      padding: 9px 12px;
      text-align: center;
    }
    /* item edit */
    .item-edit-spacing{
      float: left;
      width: 3%;
      padding: 5px 12px;
    }
    /* Item Archive */
    .item-arch-spacing{
      float: left;
      width: 5%;
      padding: 5px 12px;
    }


  