body{
  background-color: #FAF9F5;
}
  
  .ITM-app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #FAF9F5;
    font-size: 12px;
  }
  
  .ITM-top-container {
    margin-top: 10vw;
  background-color: white;
  padding: 20px 18px 10px 0px;
  position: fixed;
  top: 0;
  right: 0;
  width: 86vw;
  z-index: 1;

  }
  
  .ITM-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
 

 
  

  
  .ITM-right-align {
    margin-left: auto;
    border-radius: 30px;
    outline: none;
    border: 1px solid #aeaeae;
    padding: 0.5vw;
    width: 20vw;
    height: 1.5vw;
  }
  .ITM-left-align{
    margin-right: auto;
  }
  .ITM-button-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  
  .ITM-button-container button {
    margin-left: 10px;
  }
  
  
  
  .ITM-scrollable-container {
    margin-top: 25vw;
    position: fixed;
    right: 0;
    background-color: #faf9f5;
    width: 87vw;
    overflow-y: scroll;
    max-height: calc(100vh - 50vh);
  }
  .ITM-scrollable-container::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
  }
  
  .ITM-scrollable-container::-webkit-scrollbar-track {
    background: #e2dddd;
    margin-top: 0px;

  }
  
  .ITM-scrollable-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }
  .ITM-scrollable-container-archive{
    position: fixed;
  margin-left: 1vw;
  padding-left: 0.2;
  background-color: white;
  width: 89vw;
  overflow-y: scroll;
  max-height: calc(100vh - 50vh);
  }

  .ITM-scrollable-container-archive::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
  }
  
  .ITM-scrollable-container-archive::-webkit-scrollbar-track {
    background: #e2dddd;
    margin-top: 0px;

  }
  
  .ITM-scrollable-container-archive::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }

 .ITM-app .d-card{
  grid-template-columns: repeat(9, 1fr);
 }
 .ITM-app .main-modal .d-card{
  margin-right: 2.2vw;
  margin-top: 1vw;
  margin-bottom: 10px;
  margin-left: 50vw;
 }
  
  .ITM-header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 3vw 1vw 1.2vw 1vw;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 600;
  }

      
  
.ITM-content-pad{
  padding-top: 0.7rem;
}
.ITM-tags{
  border: 2px solid #aeaeae;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: #ffff;
  margin-top: 1px;
}
.ITM-app .t-box{
  width: 25%;
}
  @media (max-width:900px) {
    .ITM-header{
      display: none;
    }
    .ITM-row input{
      padding: 5vw;
    width: 100%;
    }
    .ITM-app .t-box{
      padding: 4vw;
      width: 95%;
    }
    .ITM-app .ADD-p-position{
      margin-top: 35vh;
    }
    .ITM-app .ADD-p-container{
      background-color: transparent;
    }
  }
  