body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 2;
  top: 5px;
  left: 0;
  background-color: #FAF9F5;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 147px;
  border-right: solid;
  
  border-color: #aeaeae;
  border-width: thin;
  
}

.sidenav a {
  padding: 10px 8px 7px 40px;
  text-decoration: none;
  font-size: 15px;
  color: #2e2e2e;
  display: block;
}

.sidenav span{
  font-size:18px;
  padding-left: 15px;
}

.sidenav a:hover {
  color: #df9f65;
}
.sidenav a.active {
   
    color: #df9f65;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav .div {
  height: 25px;
  left: 1px;
  position: absolute;
  top: 30px;
  width: 117px;
}

.sidenav .gridicons-book {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}
