.TAG-app .d-header{
  grid-template-columns: repeat(4, 1fr);
  padding-left: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.TAG-app .d-card{
  grid-template-columns: repeat(4, 1fr);
  padding-left: 3vw;
  align-items: center;
  /* margin-top: 2vw; */
}
.TAG-app .scrollable-container{
  margin-top: 25vw;
}
.TAG-app .main-modal .TAG-ADD-input{
  margin-top: 3vw;
  padding: 1vw;
  border-radius: 20vw;
  border: 1px solid #aeaeae;
  outline-color: #8d4ac2;
  width: 20vw;
}
.TAG-app .main-modal .submit-button{
 padding: 0.9vw 2vw;
 margin-top: 2vw;
}
.main-modal .TAG-main-modal-custom-content{
  width: 25vw;
  height: 14vw;
  margin: 15vw auto;
  background-color: white;
}
.TAG-app .MA-C .main-modal-content .t-box{
  width: 20vw;
 }
@media (max-width:900px) {
  .main-modal .TAG-main-modal-custom-content{
   width: 80vw;
   height: 20vh;
   margin: 30vh auto;
  }
  .TAG-app .main-modal .TAG-ADD-input{
    margin-top: 3vw;
    padding: 3vw;
    border-radius: 20vw;
    border: 1px solid #aeaeae;
    width: 70vw;
  }
  .TAG-app .main-modal .submit-button{
    padding: 1.5vh 5vw;
    margin-top: 2vh;
   }
   .TAG-app .MA-C .main-modal-content .t-box{
    width: 95%;
   }
   .TAG-app .ADD-p-position{
    margin-top: 35vh;
   }
   .TAG-app .ADD-p-container{
    background-color: transparent;
   }

}