.CO-page{
    /* font-family: "Inter", Helvetica; */
    display: flex;
}
.CO-container-1{
    background-color: white;
    margin-top: 10.4vw;
    position: fixed;
    left: 0;
    right: 0;
    height: 2.1vw;
    padding: 1vw 2vw;
}
.CO-content{
    margin-top: 400px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
   

}
.CO-background{
  background-color: transparent;
  position: fixed;
  padding: 0.5vw;
  left: 0;
  right: 0;
  height: 69%;
  margin-top: 14.5vw;
  gap: 1vw;
}
.CO-side-1{
 /* position: fixed; */
 background-color: white;
 padding: 1vw;
 border-radius: 20px;
 height:32vw;
 width: 14vw;
 height:calc(100% - 2vw);

    
}

.CO-side-1-content{
    margin-top: 1vw;
    background-color: #ffff;
    overflow-y: auto;
    height: calc(100% - 5vw);
}
.CO-side-1-content::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
  }
  
  .CO-side-1-content::-webkit-scrollbar-track {
    background: #e2dddd;
    margin-top: 1vw;
    margin-bottom: 1vw;

  }
  
  .CO-side-1-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }

.CO-side-search{
    border-radius: 40px;
    padding:8px;
    border:2px solid #aeaeae;
    outline: none;
    width:90%;
}

.CO-side-2{
    background-color: #ffff;
    border-radius: 20px;
    width: 23vw;
    height:calc(100% - 2vw);
    padding: 1%;
}
.CO-side-2-content{
    background-color: white;
    height: calc(100% - 8vw);
    overflow-y: scroll;
}
.CO-page .CO-side-2 .CO-item-card{
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  padding: 0.5vw;
  border-bottom: 1px solid #aeaeae;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.CO-side-2-content::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
    height: 0.1px;
  }
  
  .CO-side-2-content::-webkit-scrollbar-track {
    background: #e2dddd;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  
  .CO-side-2-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }


  .CO-side-3{
    background-color: white;
    border-radius: 20px;
    width: 55%;
    height:32vw;
    padding: 1%;
    height:calc(100% - 2vw);

}
.CO-side-3-left-box{
  background-color: white;
  width: 30%;
  padding: 1vw;
  border-right: 1px solid #aeaeae;
}
.CO-side-3-left-box-scroll{
  overflow-y: auto;
  height: calc(100% - 3vw);
}
.CO-side-3-left-box-scroll::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  height: 0.1px;
}

.CO-side-3-left-box-scroll::-webkit-scrollbar-track {
  background: #e2dddd;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.CO-side-3-left-box-scroll:-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.CO-page .CO-side-3-left-box .t-box{
  padding: 0.5vw;
  width: 90%;
}
.CO-side-3-right-box{
  background-color: white;
  width: 70%;
  padding: 0.4vw;
}
.CO-side-3-right-box-no-orders{
  background-color: white;
  width: 70%;
  padding: 0.4vw;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.CO-page .CO-side-3-right-box .CO-side-3-right-box-cart-header .d-header{
  grid-template-columns: 1.5vw 8vw 5vw 5vw 5vw 5vw 5vw; /* Adjust the width as needed */
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0.5vw;
  padding: 0.1vw;
}
.CO-side-3-right-box-cart{
  background-color: white;
  height: 13vw;
  overflow-y: scroll;
  border-bottom: 1px solid #aeaeae;
}  
.CO-side-3-right-box-cart .d-header{
  grid-template-columns: 1.5vw 8vw 5vw 5vw 5vw 5vw 5vw; /* Adjust the width as needed */
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0.1vw;
  border-bottom: 1px solid #aeaeae;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
.CO-side-3-right-box-cart::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.CO-side-3-right-box-cart::-webkit-scrollbar-track {
  background: #e2dddd;
}

.CO-side-3-right-box-cart::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
.CO-side-3-right-box-calc{
  padding: 0.5vw;
  background-color: white;
  height: 12vw;
}

.multi-btn{
  border-radius: 2vw 0vw 0vw 2vw;
  border: 1px solid #8d4ac2;
  padding: 0.6vw 1.1vw 0.56vw 1.1vw;
  border-color: #8d4ac2;
  background-color: #8d4ac2;
  color: #ffff;
  font-size: 0.9vw;
  cursor: pointer;
  
}
.multi-btn:hover {opacity: 0.8}
.multi-btn-drpdown{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="10" height="10" viewBox="0 0 1024 1024"%3E%3Cpath fill="%23ffffff" d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z"%2F%3E%3C%2Fsvg%3E') no-repeat right 12px center;
 
  border-radius: 0vw 2vw 2vw 0vw;
  border: 1px solid #8d4ac2;
  padding: 0.6vw 1.1vw;
  border-color: #8d4ac2;
  background-color: #8d4ac2;
  color: #ffff;
  width: 1vw;
  outline-color: #8d4ac2;
  font-size: 0.9vw;

}


.CO-btn-inc:hover{
 color: #8d4ac2;
}

.CO-btn-dec:hover{
color: #8d4ac2;
}
.CO-qty-input{
  width: 100%;
  padding: 1% 0% 1.2% 0%;
  outline: none;
  border: none;
  text-align: center;
  font-size:12px;
  background-color: white;
  margin-left: 0px;
}

.CO-custom-input {
  width: 12.7vw;
  resize: none;
  overflow: auto;
  outline-color: #a46dce;
  line-height: 1.1vw;
  padding: 1vw;
  border: 1px solid #aeaeae;
  border-radius: 1vw;
  font-family: "Inter", Helvetica;

}
.CO-custom-input::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.CO-custom-input::-webkit-scrollbar-track {
  background: #e2dddd;
}

.CO-custom-input::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.CO-cat-dec{
  text-decoration: none;
}
.CO-cat-gap{
  margin-top: 10px;
  margin-bottom: 10px;
}
.CO-cat-dec:hover{
  color: #aeaeae;
}

/* Addons Modal */
    .CO-addons-modal {
      display: none;
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
        
        .CO-addons-modal-open {
          display: block;
        }
        
        .CO-addons-modal-content {
          background-color: white;
          margin: 15% auto;
          margin-left: 85%;
          margin-top: 22%;
          padding: 0px 20px 20px;
          border: 1px solid #888;
          width: 10%;
          height: 20%;
          border-radius: 20px 20px 20px 20px;   
          font-size: 14px;
          
        }
        .CO-addons-container{
          height: 97%;
          width: 100%;
          overflow-y: auto; 
          margin-top: 10%;
        }
        .CO-addons-container::-webkit-scrollbar {
          width: 8px; /* Adjust the width of the scrollbar */
        }
        
        .CO-addons-container::-webkit-scrollbar-track {
          background: #e2dddd;
        }
        
        .CO-addons-container::-webkit-scrollbar-thumb {
          background-color: #ccc;
          border-radius: 8px;
        }

/* First step */
.CO-location-first-step {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
    
    .CO-location-first-step-open {
      display: block;
    }
    
    .CO-location-first-step-content {
      background-color: white;
      margin: 5% auto;
      padding: 0px 20px 20px;
      border: 1px solid #888;
      width: 50%;
      height: 70%;
      border-radius: 20px 20px 20px 20px;
    
    }
    .CO-location-first-step-content-inside{
      width: 100%;
      height: 90%;
      overflow-y: auto;

    }
    .CO-location-first-step-content-inside::-webkit-scrollbar {
      width: 8px; /* Adjust the width of the scrollbar */
    }
    
    .CO-location-first-step-content-inside::-webkit-scrollbar-track {
      background: #e2dddd;
      margin-top: 50px;

    }
    
    .CO-location-first-step-content-inside::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 8px;
    }
.CO-addons-btn:hover{
  color: #8d4ac2;
}
.CO-trash:hover{
  color: #ED8382;
}
.CO-phone-view{
  display: none;
}
@media (max-width:900px) {
  .CO-desktop-view{
    display: none;
  }
  .CO-phone-view{
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 92%;
    height: 100%;
    background-color: white;
    padding: 4vw;
  }
  .CO-phone-view .CO-phone-bottom{
    position: fixed;
    bottom: 0;
    background-color: white;
    left: 0;
    right: 0;
    height: 6vw;
    padding: 4.5vw 4vw;
    border-top: 1px solid #aeaeae;
  }
  .CO-phone-view .CO-phone-cart-btn{
    background-color: #8d4ac2;
    border: none;
    color: white;
    padding: 2vw 4vw;
    border-radius: 1vw;
    font-size: 3.5vw;
  }
  .CO-phone-view .CO-cart-view{
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 92%;
    height: 100%;
    background-color: white;
    padding: 4vw;
  }
  .CO-phone-view .CO-cart-view-no-orders{
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 92%;
    height: 100%;
    background-color: white;
    padding: 4vw;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  .CO-phone-view .CO-cart-view .p-main-modal-content-inside{
    background-color: white;
    height: 85vh;
  }
  .CO-phone-view .CO-scroll{
    overflow-y: scroll;
    height: calc(40vh - 6vh); 
  }
  .CO-phone-view .CO-phone-view-items .t-box{
    width: 90%;
  }
  .CO-phone-view .i-card{
    border-radius: 0;
    border-bottom: 1px solid #aeaeae;
    box-shadow: none;
    padding: 2vw;
    padding-bottom: 4vw;
    padding-top: 4vw;
    min-height: 8vh;
  }
  .CO-phone-view  .i-card .i-card-left{
    width: 70vw;
  }

  .CO-phone-view  .CO-phone-add-btn{
    padding: 1.5vw 7vw;
    border: 1px solid #8d4ac2;
    background-color: white;
    color: #8d4ac2;
    border-radius: 1vw;
    font-size: 3.5vw;
  }
  .CO-phone-view .CO-phone-modal-top{
    background-color: white;
  }
  .CO-phone-view .cat-m .t-box{
    width: 90%;
  }
  .CO-phone-view .CO-phone-view-items .CO-phone-add-btn-active{
    padding: 1.5vw 2.8vw;
    border: 1px solid #8d4ac2;
    background-color: #8d4ac2;
    color: white;
    border-radius: 1vw;
    font-size: 3.5vw;
  }
    .CO-plusminus{
    background-color: #8d4ac2;
    border: 2px solid #8d4ac2;
    color: white;
    font-size: 4vw;
    padding: 0.5vw 2vw;
      }
      .CO-plusminus-qty{
        border: 2px solid #8d4ac2;
        padding: 0.5vw 2.5vw;
      }
  .CO-qty-textbox{
    width: 6vw;
    background-color: white;
    border: 2px solid #8d4ac2;
  }
  .multi-btn{
    border-radius: 10vw 0vw 0vw 10vw;
    border: 1px solid #8d4ac2;
    padding: 3vw 3vw 3vw 3vw;
    border-color: #8d4ac2;
    background-color: #8d4ac2;
    color: #ffff;
    font-size: 3vw;
    cursor: pointer;
    
  }
  .multi-btn:hover {opacity: 0.8}
  .multi-btn-drpdown{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="10" height="10" viewBox="0 0 1024 1024"%3E%3Cpath fill="%23ffffff" d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z"%2F%3E%3C%2Fsvg%3E') no-repeat right 12px center;
   
    border-radius: 0vw 10vw 10vw 0vw;
    border: 1px solid #8d4ac2;
    padding: 4.2vw 4vw;
    border-color: #8d4ac2;
    background-color: #8d4ac2;
    color: #ffff;
    width: 1vw;
    outline-color: #8d4ac2;
    font-size: 0.9vw;
  
  }
  .CO-phone-view .CO-cart-cancle-btn{
    background-color: red;
    padding: 3vw 8vw;
    font-size: 3vw;
    background-color: white;
    color: #8d4ac2;
    border: 1px solid #8d4ac2;
    border-radius: 5vw;
  }
}





@media (max-width:450px) {
  .CO-phone-view .CO-scroll{
    overflow-y: scroll;
    height: calc(64vh - 6vh); 
      }
}