.order-page{
    font-family: "Inter", Helvetica;
    display: flex;
}

.OR-container-1{
    margin-top: 150px;
    background-color: white;
    height:80px;
    grid-template-columns: 1.5fr 1fr;
    overflow: hidden;
    position: fixed;
    width: 100%;


}
.OR-container-2{
    margin-top: 230px;
    width: 100%;
    position: fixed;
    background-color: #ffff;
    height:80px;
    grid-template-columns: 1.5fr 1fr;

}

.OR-container-1-left{
    padding: 30px;

}
.OR-container-1-right{
    padding: 30px;
    
}
.OR-container-2-left{
    padding: 30px;

}
.OR-container-2-right{
    padding: 30px;
    
}


.OR-container-1-status {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 30px; /* Adjust this value for spacing between categories */
}
.OR-container-2-buttons {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 30px; /* Adjust this value for spacing between categories */
}
.OR-container-2-tabs {
    text-decoration: none;
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 30px; /* Adjust this value for spacing between categories */
}
.OR-container-2-actions {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px; /* Adjust this value for spacing between categories */
}
.OR-content-position{
    margin-top: 330px;
}
.OR-content{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffff;
    width: 93%;
    height: 100px;
   margin-top: 20px;
}

