
.ORDER-app .OR-container-1{
      background-color: white;
      padding:  2vw 2vw;
      position: fixed;
      z-index: 2;
      left: 0;
      right: 0;

      margin-top: 10.4vw;
  }
  .ORDER-app .OR-container-1 .f-14{
  font-size: 1vw;
}
.ORDER-app .OR-container-1 .p-outline-button{
  border: 1px solid #8d4ac2;
    color: #8d4ac2;
    background-color: white;
    outline: none;
    padding: 0.8vw;
    font-size: 1vw;
    width: 8vw;
    border-radius: 30px;
}
.ORDER-app .OR-container-1 .main-modal{
  background-color: transparent;

}
.ORDER-app .OR-container-1 .main-modal-content{
  width: 40%;
  margin-top: 12vw;
  margin-left: 11vw;
  height: 40%;
}
.ORDER-app  .OR-container-1-tabs{
  text-decoration: none;
}
.ORDER-app .OR-droptype {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="10" height="10" viewBox="0 0 1024 1024"%3E%3Cpath fill="%23ffffff" d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z"%2F%3E%3C%2Fsvg%3E') no-repeat right 12px center;
  background-size: 0.8vw;
  border: 1px solid #8d4ac2;
  color: #ffff;
  background-color: #8d4ac2;
  outline: none;
  padding: 0.8vw;
  font-size: 1vw;
  width: 10vw;
  border-radius: 10vw;

}

.ORDER-app .OR-droptype::-ms-expand {
  display: none; 
}

.ORDER-app .OR-droptype option {
  background-color: white;
  font-size: 1vw;
  color: #333;
  padding: 5vw; 
}

.ORDER-app .OR-droptype option:hover {
  background-color: #ddd;
} 
.ORDER-app .scrollable-container{
  background-color: transparent;
  left: 0;
  width: 100%;
  margin-top: 21vw;
  padding-top: 0.5vw;
  max-height: calc(100vh - 22vw);
}
.ORDER-app .d-card{
background-color: white;
grid-template-columns: repeat(8, 1fr);
padding: 2vw;
text-align: left;
}
.ORDER-app .d-card .d-card-1-orangeCard{
  padding: 0.4vw;
  border-radius: 5vw;
  width: 8.5vw;
}
.ORDER-app .d-card .d-card-1-orangeCard .orangeCard-img{
  border-radius: 10vw;
  width: 27%;
  height: 27%;
  overflow: hidden;

}

.ORDER-app .d-card .d-card-1-greenCard{
  padding: 0.8vw;
  border-radius: 5vw;
  width: 6vw;
  text-align: center;
}
.ORDER-app .d-card .d-card-lines{
  background-color: #dadada;
  border-radius: 5vw;
  width: 2px;
  margin-left: 0.8vw;
}
.ORDER-app .d-card .t-box{
  padding: 0.5vw;
  width: 7vw;
}
.ORDER-app .OR-container-1 .hb .t-box{
  padding: 0.5vw;
  width: 10vw;
}
.ORDER-app .f-12{
  font-size: 0.8vw;
}
.ORDER-app .f-14{
  font-size: 0.9vw;
}
.ORDER-app .f-16{
  font-size: 1.3vw;
}
.ORDER-app .f-20{
  font-size: 1.2vw;
}
.ORDER-app .f-24{
  font-size: 1.6vw;
}
.ORDER-app .pd{
  padding: 0vw 0.5vw;
}
.ORDER-app .wt{
  width: 19vw;
}

.ORDER-app .sc{
  background-color: white;
  overflow-y: scroll;
  height: 10vw;
  width: 18vw;
}
.ORDER-app .sc::-webkit-scrollbar {
  width: 6px; /* Adjust the width of the scrollbar */
}

.ORDER-app .sc::-webkit-scrollbar-track {
  background: #e2dddd;
  margin-top: 0px;
  border-radius: 10px;
}

.ORDER-app .sc::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;

}
.ORDER-app .bw{
  background-color: white;
}
.ORDER-app .IP{
  background-color: #FBFBCA;
 }

@media (max-width:900px) {
  .OR-container-1{
    display: none;
  }
  .ORDER-app .f-main-20{
    font-size: 20px;
  }
  .ORDER-app .f-12{
    font-size: 2vw;
    /* font-size: 12px; */
  }
  .ORDER-app .f-13{
    font-size: 3.5vw;
  }
  .ORDER-app .f-14{
    font-size: 3.2vw;
    /* font-size: 14px; */
  }
  .ORDER-app .f-16{
    font-size: 3.8vw;
    /* font-size: 16px; */
  }
  .ORDER-app .f-18{
    font-size: 3.8vw;
    /* font-size: 16px; */
  }
  .ORDER-app .f-20{
    font-size: 5vw;
  }
  .ORDER-app .f-24{
    font-size: 6vw;
  }
  .ORDER-app .p-top-container{
    background-color: white;
    padding-right: 7vw;
  }

  .ORDER-app .mop .t-box{
   padding: 3vw;
  }
  .ORDER-app .mop{
    height: 70%;
   }
   
   .ORDER-app .p-ps{
    background-color: white;
    overflow-y: scroll;
    height: 50vw;
   }
   .ORDER-app .p-card .t-box{
    padding: 2vw 1.5vw;
    font-size: 3vw;
    font-weight: 300;
    color: #2e2e2e;
    border: 1px solid #2e2e2e;
   }
   .ORDER-app .ADD-p-position{
    margin-top: 35vh;
   }
   .ORDER-app .ADD-p-container{
    background-color: transparent;
   }
   
}
