body {
  background-color: #faf9f5;
}
.DB-app {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #faf9f5;
  /* background-color: black; */
  font-size: 12px;
}

.DB-header {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  background-color: white;
  margin-right: 1vw;
  margin-left: 0.9vw;
  margin-top: 2vw;
  text-align: center;
  padding: 1vw 0vw;
  font-weight: 600;
}

.DB-p-content {
  display: none;
}
.DB-p-content-acrhive {
  display: none;
}
.DB-image-container {
  margin: 1vw;
}
.DB-image-container .DB-image {
  width: 10vw;
  height: 10vw;
}
.IM-view .main-modal-content {
  width: 90%;
  height: 89%;
  margin-top: 1vw;
}
.IM-view .main-modal-content-inside {
  margin-bottom: 1vw;
  width: 100%;
  height: 85%;
}
.DB-app .t-box{
  width: 25%;
}
@media (max-width: 900px) {
  .DB-header {
    grid-template-columns: 1fr;
  }

  .DB-card {
    grid-template-columns: 1fr;
  }

 

  .p-top-container input {
    padding: 10px;
        border-radius: 30px;
        border: 1px solid #aeaeae;
        width: 73vw;
        outline-color:#8d4ac2 ;
  }
  .p-top-container .DB-p-action-buttons {
    padding: 5vw 0vw;
  }
  
  .d-modal .DB-header {
    display: none;
  }

  .DB-image-container {
    margin: 1vw;
  }

  .DB-image-container .DB-image {
    width: 25vw;
    height: 25vw;
  }

  .IM-view .p-main-modal-content-inside {
    margin-bottom: 1vw;
    width: 100%;
    height: 89%;
  }
  .DB-app .t-box{
    padding: 4vw;
    width: 95%;
  }
  
}

