/* Scrollbar containers */
.HOME-app {
  margin-top: 10vw;
  position: fixed;
  right: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
.HOME-app .f-12{
  font-size: 1vw;
}
.HOME-app .f-16 {
  font-size: 1.1vw;
}
.HOME-app .f-24 {
  font-size: 1.6vw;
}
.HOME-app .f-20 {
  font-size: 1.4vw;
}
.HOME-linker-btn {
  font-size: 1.1vw;
}

.HOME-app::-webkit-scrollbar {
  width: 10px;
}

.HOME-app::-webkit-scrollbar-track {
  background: #e2dddd;
  margin-top: 0px;
}

.HOME-app::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.HOME-container-1 {
  background-color: white;
  width: 95.9%;
  /* height: 50vh; */
  padding: 2vw;
}
.HOME-app .HOME-container-1 .HOME-welcome {
  font-size: 2vw;
  font-weight: 600;
}
.HOME-container-1 .HOME-container-1-1 {
  display: flex;
  justify-content: space-between;
}
.HOME-container-1-1 .HOME-container-1-1-box {
  margin-top: 1vw;
  background-color: white;
  width: 35%;
  padding: 1vw;
  display: flex;
}
.HOME-container-1-1-box-left {
  width: 21vw;
}
.HOME-container-1-1 .HOME-container-1-2-box {
  margin-top: 1vw;
  background-color: white;
  width: 35%;
  padding: 1vw;
  border-right: 1px solid #dadada;
  display: flex;
}
.HOME-container-1-2-box-left {
  width: 23vw;
}
.HOME-container-1-1 .HOME-container-1-3-box {
  margin-top: 1vw;
  background-color: white;
  width: 20%;
  padding: 1vw;
}
.HOME-app .txt-green span:hover {
  border-bottom: 2px solid #229753;
  cursor: pointer;
}
.HOME-container-2 {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}
.HOME-container-2 .HOME-container-2-box-left {
  background-color: white;
  width: 50%;
  border-radius: 20px;
  padding: 2vw;
}
.HOME-container-2 .HOME-container-2-box-left .d-card {
  grid-template-columns: repeat(5, 1fr);
  padding-right: 1vw;
  width: 94%;
}
.HOME-container-2 .HOME-container-2-box-left .p-card {
  display: none;
}
.HOME-container-2 .HOME-container-2-box-right {
  background-color: white;
  width: 40%;
  border-radius: 20px;
  padding: 2vw;
}
.HOME-container-2 .HOME-container-2-box-right .t-box{
  padding: 0.5vw;
}
 .HOME-graph-tooltip{
  height: 3vw;
  padding: 0.5vw;
}
.HOME-graph-tooltip .HOME-graph-tooltip-card{
  background-color: white;
  padding: 0.3vw;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.HOME-container-3 {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}
.HOME-container-3 .HOME-container-3-box-left {
  background-color: white;
  width: 50%;
  border-radius: 20px;
  padding: 2vw;
}
.HOME-container-3 .HOME-container-3-box-left .HOME-eclipse {
  background-color: #ffe3ad;
  padding: 0.8vw;
  border-radius: 200vw;
  width: 4vw; 
  height: 4vw;
  overflow: hidden; 
}
.HOME-container-3 .HOME-container-3-box-left .HOME-eclipse .HOME-image-eclipse {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  border-radius: 50%; 
}
.HOME-container-3 .HOME-container-3-box-right {
  background-color: white;
  width: 40%;
  border-radius: 20px;
  padding: 2vw;
}
.HOME-container-3 .HOME-container-3-box-right .t-box{
  padding: 0.5vw;
}
.HOME-cr{
  width: 25vw;
}
.HOME-ht{
  width: 15vw;
}
@media (max-width: 900px) {
  .HOME-app {
    display: block;
    margin-top: 19.2vh;
    background-color: transparent;
    min-height: 20vw;
    overflow-y: auto;
    height: 70%;
    margin-bottom: 15vw;
  }
  .HOME-app .f-12{
    font-size: 1.5vh;
  }
  .HOME-app .f-16 {
    font-size: 2vh;
  }
  .HOME-app .f-24 {
    font-size: 2.5vh;
  }
  .HOME-app .f-20 {
    font-size: 2.3vh;
  }
  .fw {
    font-weight: 600;
  }
  .HOME-linker-btn {
    font-size: 1.4vh;
  }
  .vxz {
    flex-direction: column-reverse;
  }
  .vxz-1{
    margin-top: 2vh;
  }
  
  .HOME-container-1 {
    background-color: white;
    width: 95.7%;
    padding: 2vw;
  }
  .HOME-container-1 .HOME-container-1-1 {
    flex-direction: column;
  }
  .HOME-app .HOME-container-1 .HOME-welcome {
    font-size: 6vw;
    font-weight: 500;
    margin-bottom: 5vw;
    margin-top: 2vw;
    padding: 1vw;
  }
  .HOME-container-1-1 .HOME-container-1-1-box {
    margin-top: 1vw;
    background-color: white;
    width: 100%;
    height: 40vh;
  }
  .HOME-container-1-1-box-left {
    width: 53vw;
  }
  .HOME-container-1-1 .HOME-container-1-2-box {
    margin-top: 1vw;
    background-color: white;
    width: 100%;
    padding: 1vw;
    border-right: 1px solid #dadada;
    display: flex;
    margin-bottom: 4vh;
  }
  .HOME-container-1-2-box-left {
    width: 53vw;
  }
  .HOME-container-1-1 .HOME-container-1-3-box {
    margin-top: 1vw;
    background-color: white;
    width: 100%;
    padding: 1vw;
  }
  .HOME-container-2 {
    flex-direction: column;
  }
  .HOME-container-2 .HOME-container-2-box-left {
    background-color: white;
    width: 91%;
    border-radius: 20px;
    padding: 4vw;
    overflow-y: scroll;
    margin-bottom: 2vw;
    height: 43vh;
    position: relative; /* Add relative positioning to the container */
  }

  .HOME-container-2 .HOME-container-2-box-left::-webkit-scrollbar {
    width: 5px;
  }
  
  .HOME-container-2 .HOME-container-2-box-left::-webkit-scrollbar-track {
    background: #e2dddd;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  
  .HOME-container-2 .HOME-container-2-box-left::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }

  .HOME-container-2 .HOME-container-2-box-left .d-card {
    display: none;
  }
  .HOME-container-2 .HOME-container-2-box-left .p-card {
    display: block;
  }
  .HOME-container-2 .HOME-container-2-box-right {
    background-color: white;
    width: 91%;
    border-radius: 20px;
    padding: 4vw;
  }
  .HOME-container-2 .HOME-container-2-box-right .t-box{
    padding: 1vw;
  }
 .HOME-graph-tooltip{
    height: 5vh;
    padding: 0.5vw;
  }
 .HOME-graph-tooltip .HOME-graph-tooltip-card{
    background-color: white;
    padding: 0.3vw;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* font-size: 1vw; */
  }
  .HOME-container-3 {
    flex-direction: column;
  }
  .HOME-container-3 .HOME-container-3-box-left {
    background-color: white;
    width: 91%;
    border-radius: 20px;
    padding: 4vw;
    height: 43vh;
    overflow-y: scroll;
    margin-bottom: 2vh;
  }
  .HOME-container-3 .HOME-container-3-box-left::-webkit-scrollbar {
    width: 5px;
  }
  
  .HOME-container-3 .HOME-container-3-box-left::-webkit-scrollbar-track {
    background: #e2dddd;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  
  .HOME-container-3 .HOME-container-3-box-left::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }
  .HOME-container-3 .HOME-container-3-box-left .HOME-eclipse {
    background-color: #ffe3ad;
    padding: 2vw;
    border-radius: 200vw;
    width: 15vw; 
    height: 15vw;
    overflow: hidden; 
  }
  .HOME-container-3 .HOME-container-3-box-left .HOME-eclipse .HOME-image-eclipse {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
  }
  .HOME-container-3 .HOME-container-3-box-right {
    background-color: white;
    width: 91%;
    border-radius: 20px;
    padding: 4vw;
  }
  .HOME-container-3 .HOME-container-3-box-right .t-box{
    padding: 1vw;
  }
  .HOME-vr{
    flex-direction: column;
  }
  .HOME-cr{
    margin-top:3vh;
    width: 85vw;
  }
  .HOME-ht{
    width: 60vw;
  }
}
