.ManageTax .MAT-desktop{
    margin-top: 10vw;
  background-color: transparent;
  padding: 2vw;
  position: fixed;
  top: 0;
  right: 0;
  width: 83vw;
  z-index: 1;
  margin-bottom: 2vw;
  display: flex;
}
.ManageTax .MAT-desktop .MAT-layer{
    background-color: white;
padding: 1vw;
width: 100%;
border-radius: 1vw;
height: 68vh;
margin-left: 2vw;
overflow-y: scroll;

}
.MAT-layer::-webkit-scrollbar {
    width: 8px;
  }
  
  .MAT-layer::-webkit-scrollbar-track {
    background: #e2dddd;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  
  .MAT-layer::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }
  .MAT-borderless-table {
    border-collapse: collapse;
    border: none;
    margin:  0 auto;
    width: 78vw;
    text-align: center;
  }

  .MAT-borderless-table td {
    padding: 1vw;
    width: 12vw;
    border: none;
    vertical-align: middle;
  }
  .MAT-input-field{
    border: 2px solid #aeaeae;
    width: 4vw;
    padding: 0.5vw;
    outline-color: #8D4AC2;
  }
  .MAT-input-fiel-dd{
    border: 2px solid #aeaeae;
    min-width: 4vw;
    padding: 0.5vw;
    outline-color: #8D4AC2;
  }
  .MAT-applicable-scrollbox{
    background-color: white;
    overflow-y: auto;
    padding: 1vw;
    height: 8vw;
    border-bottom: 1px solid #aeaeae;
  }
  .MAT-pd{
    margin-left: 1.7vw;
  }
  .MAT-cb {
    transform: scale(1.4); /* Adjust the scale factor as needed */
  }
  @media (max-width:900px) {
    .ManageTax .MAT-desktop{
      display: none;
    }
    .MAT-mobile-card{
      border-bottom: 1px solid #aeaeae;
      padding-bottom: 4vw;
    }
    .MAT-applicable-scrollbox{
      background-color: white;
      overflow-y: auto;
      padding: 1vw;
      height: 20vh;
      border-bottom: 1px solid #aeaeae;
    }
    .MAT-pd{
      margin-left: 8vw;
    }
    .MAT-l1-1{
      margin-top: 2vw;
    }
    .MAT-input-field{
      border: 2px solid #aeaeae;
      width: 8vw;
      padding: 1.5vw;
      outline-color: #8D4AC2;
    }
    .MAT-input-fiel-dd{
      border: 2px solid #aeaeae;
      min-width: 8vw;
      padding: 1.5vw;
      outline-color: #8D4AC2;
    }
  }