.ManageSidebar .d-sidenav{
  overflow-y: auto;
  height: 100%;
  width: 15vw;
}
.menu-container {
  padding: 0.5vw 0;
  font-size: 1.2vw;
}

.menu-items {
  list-style-type: none;
}

.menu-item {
  text-decoration: none;
}

.menu-item.active a {
  color: red;
  font-weight: 700;
  text-decoration: none;
}

.sub-items {
  padding-left: 1vw;
  padding-top: 0.2vw;
}

.sub-item {
  position: relative;
  border-left: 0.15vw solid #aeaeae;
  height: 2vw;
}

.sub-item::before {
  position: relative;
  top: -0.3vw;
  width: 1vw;
  border-bottom: 0.15vw solid #aeaeae;
  content: '';
  height: 1.3vw;
  margin-right: 0.2vw;
  display: inline-block;
}

.sub-item:last-of-type {
  height: 1.08vw;
  margin-bottom: 1vw;
  border-left: 0.15vw solid #aeaeae;
}

a {
  text-decoration: none;
}
@media (max-width:900px) {
  .sub-menu-p{
    margin-left: 5vw;
  }
  .scrollable-contentt-sidenav-p{
    overflow-y: auto;
    height: 48vh;
  }
  
}
