body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.header{
  background-color: white;
  padding: 0vw 2vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}
.header .header-logo{
  display: flex;
  align-items: center;
  gap: 1vw;
}
.header .header-logo img{
  width: 60px;
  height: 60px;
}
.header .h-search {
border: 2px solid #aeaeae;
padding: 0.1vw 1.5vw;
border-radius: 50vw;
}

.header .h-search .h-search-input {
padding: 1vw;
width: 35vw;
border: none;
outline: none;
border-radius: 50vw;
}

.header .h-search input::placeholder {
  color: #aeaeae; /* Color for input placeholder */
}

.header .h-search .search-icon {

}

.header .h-search .search-icon i {
  border: none; /* Remove border from the icon */
  border-radius: 0; /* Remove border radius from the icon */
  color: #8d4ac2; /* Color for the search icon */
}


.header .user-notification{
  display: flex;
  gap: 2vw;
}
.header .p-user-notification{
  display: none;
}
.p-search{
  display: none;
}
.top-space .topnav {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 5;
  margin-top: 7vw;
  /* background-color: #FAF9F5; */
  background-color: white;
  /* border-top: 1px solid #aeaeae; */
  /* border-bottom: 1px solid #aeaeae; */
  padding: 0.5vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.topnav .left-align{
  display: flex;
  align-items: center;
  gap: 3vw;
}
.topnav a{
  text-decoration: none;
  color: #3b724a;
  background-color: transparent;
  padding: 0.6vw 0vw;
}
.topnav a:not(.active):hover {
  color: #df9f65;
  /* color: #8d4ac2; */
}
/* .topnav .active:hover{
  color: #df9f65;
} */
.topnav .active{
  color: #df9f65;
font-weight: 600;


}

.topnav .right-buttons-group{
  display: flex;
  align-items: center;
  gap: 1vw;
}
.p-navigation{
  display: none;
}




/* modal */

.modal {
  margin-top: 100px;
  padding: 30px;
  width: 600px;
  height: 200px;
  margin-right: 60px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.modal-close {
  left: 500px;
}

.SO-hide {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.SO-sidenav {
  height: 100%;
  width: 35vw;
  position: fixed;
  z-index: 40;
  margin-top: 10.7vw;
  margin-right: -20vw;
  background-color: #ffffff;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 10px 10px 10px 10px #00000040;
  padding: 1vw 2vw;
}

.SO-sidenav .SO-header{
  font-size: 1.5vw;
  padding-top: 2vw;
}
.SO-sidenav .SO-content{
  width: 16vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SO-sidenav .dropbtn{
  width: 16vw;
}


/* Stock Control */
/* Add the following CSS to your Tags.css file */
.Stock-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.Stock-modal-open {
  display: block;
}

.Stock-modal-content {
  background-color: #ffffff;
  margin: 5vw auto;
  padding: 0px 20px 20px;
  border: 1px solid #888;
  width: 90%;
  height: 40vw;
  border-radius: 20px 20px 20px 20px;
}
.Stock-header{
 position: fixed;
 width: 90%;

}
.Stock-modal-content .Stock-header-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2vw 0vw;
  font-size: 1.5vw;
}
.Stock-modal-content .Stock-actions{
  background-color: white;
  width: 96%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 2vw;
}
.Stock-modal-content .Stock-actions .Stock-textboxes{
  display: flex;
  gap: 2vw;
}
.Stock-modal-content .Stock-actions .Stock-textboxes input{
  padding: 1vw;
  width: 18vw;
  border-radius: 3vw;
  border: 1px solid #aeaeae;
  outline-color: #8d4ac2;
}
 .stock-control-filter-buttons-container{
  display: flex;
  gap: 1vw;
}
.Stock-modal-content  .Stock-item-header{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 font-size: 1vw;
padding: 0vw 4vw;
background-color: white;
margin-left: 2vw;
margin-right: 2.6vw;
margin-top: 1vw;
}
.Stock-modal-content  .Stock-content-card{
  background-color: white;
  margin-top: 12vw;
  width: 100%;
  height: 25vw;
  overflow-y: scroll;
}
.Stock-content-card::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.Stock-content-card::-webkit-scrollbar-track {
  background: #e2dddd;
  margin-top: 0px;

}

.Stock-content-card::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
.Stock-modal-content  .Stock-content-card .Stock-card{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 font-size: 1vw;
padding: 1vw 4vw;
background-color: white;
margin-left: 2vw;
margin-right: 2vw;
margin-top: 1vw;
margin-bottom: 1vw;
min-height: 2vw;
align-items: center;
border-radius: 1vw;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

}
.p-stock-actions{
  display: none;
}
.p-stock-control-filter-buttons-container{
  display: none;
}
.p-stock-card{
  display: none;
}
/* Location modal */
.location-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
    
    .location-modal-open {
      display: block;
    }
    
    .location-modal-content {
      background-color: white;
      margin: 7vw auto;
      padding: 2vw 2vw 2vw 2vw;
      border: 1px solid #888;
      width: 50%;
      height: 70%;
      border-radius: 20px 20px 20px 20px;
    
    }
    .location-modal-content-inside{
      width: 100%;
      height: 100%;
      overflow-y: auto;

    }
    .location-modal-content-inside::-webkit-scrollbar {
      width: 8px; /* Adjust the width of the scrollbar */
    }
    
    .location-modal-content-inside::-webkit-scrollbar-track {
      background: #e2dddd;
      margin-top: 50px;

    }
    
    .location-modal-content-inside::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 8px;
    }
.main-sidenav{
  display: none;
}
    @media (max-width:900px) {
      .header{
        height: 9.6vh;
        padding-left: 3vw;
        background-color: white;
        border-bottom: 1px solid #aeaeae;
      }
      .header .KYC{
        display: none;
      }
      .header .h-search{
        display: none;
      }
      .header .header-logo img{
          width: 50px;
          height: 50px;
      }
      .p-search{
        position: fixed;
        left: 0;
        right:0;
        top: 0;
        border-top: 1px solid #aeaeae;   
        border-bottom: 1px solid #aeaeae;     
        display: block;
        margin-top: 9.5vh;
        background-color: white;
        z-index: 5;
        padding: 2.5vh 2vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .p-search .p-search-right-side{
        display: flex;
        gap: 4vw;
        padding-right: 2vw;
        font-size: 18px;
      }
      .p-search input{
        padding: 10px;
        border-radius: 30px;
        border: 1px solid #aeaeae;
        width: 58vw;
        outline-color:#8d4ac2 ;
        /* font-size: 4vw; */
      }
      .top-space{
        display: block;
      }
      .top-space .topnav{
        display: none;
      }
      .topnav .active{
        display: none;
      }
      .p-navigation{
        position: fixed;
        bottom: 0;
        width: 100%;
        display: block;
        font-size: 6vw;
        background-color: white;
        padding: 3vw 0vw;
        display: flex;
        /* align-items: center; */
        justify-content: space-evenly;
        z-index: 10;
      }
      .p-navigation-popup{
        position: fixed;
        bottom: 0;
        right: 4vw;
        padding: 3vw 5vw;
        background-color: white;
        display: block;
        z-index: 10;
        margin-bottom: 9vh;
        border-radius: 3vw;
        line-height: 6vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      }
      .M-lnG{
        line-height: 2vw;
        width: 20vw;
      }
      .pNaL{
        gap: 1vw;
      }
      .p-navigation a{
        color:white;
      }
      .p-navigation .active {
        color: #2e2e2e;
        background-color: white;
        padding: 1vw 2vw;
        border-radius: 1vw;
      }
      .location-modal-content {
        background-color: white;
        margin: 20vw auto;
        padding: 2vw 2vw 2vw 2vw;
        border: 1px solid #888;
        width: 90%;
        height: 60%;
        border-radius: 20px 20px 20px 20px;
      }
      .SO-sidenav {
        height: 100%;
        width: 30vh;
        position: fixed;
        z-index: 5;
        margin-top: 42vw;
        margin-right: -2vh;
        background-color: #ffffff;
        overflow-y: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: none;
        padding: 1vw 5vw;
      }
      .SO-sidenav .SO-close{
        font-size: 6vw;
      }
      .SO-sidenav .SO-header{
        font-size: 5vw;
        padding-top: 2vw;
      }
      .SO-sidenav .SO-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5vw;
        width: 95%;
      }

      .sidenav-background {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 5; 
      }
      .main-sidenav {
        display: block;
        height: 100%;
        width: 30vh;
        top: 0;
        position: fixed;
        z-index: 5;
        margin-top: 0vw;
        right: 0;
        margin-right: -2vh;
        background-color: white;
        overflow-y: hidden;
        transition: 0.5s;
        box-shadow: none;
        padding: 2vh 10vw 2vh 2vw;
        
      }
      .main-sidenav .SO-close{
        font-size: 6vw;
      }
      .main-sidenav .SO-header{
        font-size: 5vw;
        padding-top: 2vw;
      }
      .main-sidenav .SO-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5vw;
        width: 95%;
      }
      .SO-sidenav .dropbtn{
        width: 96%;
        padding: 1.5vh;
        font-size: 2vh;
        border: 1px solid #aeaeae;
      }

      /* Stock Control mobile view */
      .Stock-modal-content {
        background-color: white;
      margin: 7vw auto;
      padding: 2vw 2vw 2vw 2vw;
      border: 1px solid #888;
      width: 90%;
      height: 90%;
      border-radius: 20px 20px 20px 20px;
    
      }
      .Stock-header{
       position: fixed;
       width: 85%;
      
      }
      .Stock-modal-content .Stock-header-name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 2vw 2vw;
        font-size: 5vw;
      }
      .Stock-modal-content .Stock-actions{
        display: none;
      }

      .Stock-modal-content  .Stock-item-header{
        display: none;
      }
      .Stock-modal-content  .Stock-content-card{
        margin-top: 35vw;
        width: 95%;
      height: 70%;
      padding: 0vw 2vw;
      background-color: white;
      overflow-y: scroll;
      }
      .Stock-modal-content  .Stock-content-card .Stock-card{
        display: none;
      }
      .p-stock-actions{
        background-color: white;
        padding: 1vw 0vw;
        display: block;
        display: flex;
        justify-content: space-between;
      }
      .p-stock-actions input{
        width: 37vw;
        font-size: 4vw;
        padding: 2vw;
        border-radius: 5vw;
        border: 1px solid #aeaeae;
        outline-color: #8d4ac2;
      }
      .p-stock-control-filter-buttons-container{
        background-color: white;
        padding: 4vw 0vw;
        display: block;
        display: flex;
        justify-content: space-evenly;
      }
       .p-stock-card{
        display: block;
        margin-top: 2vw;
        background-color: white;
        padding: 2vw 2vw;
        border-radius: 2vw;
        margin-bottom: 1vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

      }

      
    }